<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam recusandae nihil hic libero repellendus nisi!
            Consectetur sed, nesciunt consequuntur maiores sapiente sunt nulla iure impedit alias, velit blanditiis sit
            vel.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam recusandae nihil hic libero repellendus nisi!
            Consectetur sed, nesciunt consequuntur maiores sapiente sunt nulla iure impedit alias, velit blanditiis sit
            vel.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam recusandae nihil hic libero repellendus nisi!
            Consectetur sed, nesciunt consequuntur maiores sapiente sunt nulla iure impedit alias, velit blanditiis sit
            vel.</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>

</html>